@import "../vars";
@import "../template";
body {
  max-width: 1920px;
  display: grid;
  grid-template-rows: 496px 1fr 894px;
  @include _laptop {
    grid-template-rows: 496px 1fr 855px;
  }
  @include _tablet {
    grid-template-rows: 340px 1fr 763px;
  }
  @include _mobile {
    grid-template-rows: 320px 1fr 1368px;
  }
  header {
    width: 100%;
    display: grid;
    grid-template-rows: 96px 1fr;
    background-image: url(../../assets/img-contacts/background_header.png);
    @include _laptop {
      grid-template-rows: 80px 1fr;
      max-width: 1024px;
    }
    @include _tablet {
      max-width: 876px;
    }
    @include _mobile {
      grid-template-rows: 60px 1fr;
      max-width: 320px;
    }
  }
}
header {
  .header__top-wrapper {
    background-color: #393a56;
    display: grid;
    grid-template-columns: 201px 756px 586px 377px;
    @include _laptop {
      grid-template-columns: 153.83px 1fr 1fr 375px;
      background-color: $colorw;
    }
    @include _mobile {
      grid-template-columns: 129.83px 1fr 1fr 95px;
    }
  }
  .header__logo-wrapper {
    padding: 24px 30px 24px 30px;
    grid-area: 1/1/2/2;
    @include _laptop {
      padding: 24px 18px 24px 40px;
    }
    @include _mobile {
      padding: 14px 40px 14px 16px;
    }
    .whlogo {
      padding: 24px, 30px;
      width: 170.743px;
      height: 48px;
      @include _laptop {
        display: none;
      }
    }
    .dlogo {
      display: none;
      @include _laptop {
        display: inline-block;
        width: 113.829px;
        height: 32px;
      }
    }
  }
  .header__nav {
    padding: 0;
    grid-area: 1/3/2/4;
    display: flex;
    @include flex(row, space-between, center);
    @include _laptop {
      display: none;
    }
    .nav__link {
      line-height: 96px;
      @include font($font1, 16px, $colorp, 500);
    }
    .link_active {
      color: $colorw;
      border-bottom: 4px solid $colorw;
    }
  }
  .buttons {
    padding: 24px 30px 24px 60px;
    grid-area: 1/4/2/5;
    display: flex;
    @include flex(row, space-between, center);
    gap: 24px;
    @include _laptop {
      padding: 0px 40px 0px 0px;
    }
    .buttons__connect {
      width: 197px;
      padding: 14px 0px;
      border: 1px solid $colorw;
      @extend %btn-top;
      background-color: transparent;
      border-radius: 12px;
      @include _laptop {
        color: $colorbl;
        border: 1px solid $colorbl;
      }
      @include _mobile {
        display: none;
      }
    }
    .buttons__language {
      width: 66px;
      padding: 14px 0px;
      border: 1px solid $colorp;
      @extend %btn-top;
      color: $colorp;
      background-color: transparent;
      border-radius: 12px;
      @include _laptop {
        color: $colorbl;
      }
      @include _mobile {
        display: none;
      }
    }
  }
  .burger {
    display: none;
    @include _laptop {
      display: block;
    }
  }
  .header__title-wrapper {
    width: 440px;
    height: 158px;
    margin-left: 260px;
    margin-top: 121px;
    @include _laptop {
      width: 560px;
      height: 79px;
      margin-left: 40px;
      margin-top: 168.5px;
    }
    @include _tablet {
      width: 560px;
      height: 56px;
      margin-top: 102px;
    }
    @include _mobile {
      width: 260px;
      height: 80px;
      margin-left: 16px;
      margin-top: 40px;
    }
  }
  .header__title {
    width: 100%;
    @extend %h1;
    margin: 0;
  }
}
main {
  grid-area: 3/1/4/2;
  display: grid;
  grid-template: 1fr 104px/1fr 1fr;
  padding: 80px 260px 0px 260px;
  background-image: url(../../assets/img-contacts/bg_main.png);
  @include _laptop{
      grid-template: 1fr 104px/462px 462px;
      padding: 60px 40px 0px 40px;
      width:1024px
  }
  @include _tablet{
      grid-template: 1fr 72px/1fr 1fr;
      padding: 40px 40px 0px  40px;
      width: 768px;
      height: 763px;
      overflow-y: auto;
  }
  @include _mobile{
      height: 1432px;
      width: 320px;
      grid-template: 606px 690px 96px / 1fr;
      padding: 40px 16px 0px 16px;
      overflow-y: auto;
      background-image: url(../../assets/img-common/mob-bg-img-footer.png);
  }
  .main__container {
      grid-area: 1/1/2/2;
      @include _mobile{
          grid-area: 2/1/3/2;
      }
  }
  .questions {
      grid-area: 1/2/2/3;
      @include _mobile{
          grid-area: 1/1/2/2;
      }
  }
  .rights {
      grid-area: 2/1/3/3;
      width: 311px;
      @extend %rights;
      display: flex;
      align-items: center;
      @include _tablet{
          height: 72px;
      }
      @include _mobile{
          grid-area: 3/1/4/2;
          width: 288px;
          height: 96px;
      }
  }
}
.main__container {
  display: grid;
  grid-template: 1fr 432px/680px;
  @include _laptop {
    grid-template: 1fr 425px/462px;
}
  @include _tablet {
      grid-template: 1fr 305px/334px;
  }
  @include _mobile {
      color: 1fr 288px/288px;
  }
  .contacts {
      grid-area: 1/1/2/2;
      display: grid;
      grid-template: 78px 1fr/1fr 1fr;
      gap: 40px;
      @include _laptop {
          width:462px;
          grid-template: 70px 1fr/1fr 1fr;
      }
      @include _tablet {
          grid-template: 95px 58px 50px /100%;
          width: 334px;
      }
      @include _mobile {
          margin-top: 40px;
          grid-template: 75px 35px 5px /100%;
          width: 288px;
      }
  }
  .map {
      grid-area: 2/1/3/2;
      .map__item {
          height: 320px;
          width: 680px;
          border-radius: 12px;
          @include _laptop {
              width:462px;
              height: 425px;
          }
          @include _tablet {
              width: 334px;
              height: 305px;
          }
          @include _mobile {
              width: 288px;
              height: 288px;
              margin-bottom: 96px;
          }
      }
  }
  .subtitle {
      @extend %subtitle;
  }
}
.contacts__tel {
  grid-area: 1/1/2/3;
  display: flex;
  @include flex(column, space-between, flex-start);
  width: 100%;
  @include _laptop {
      width:462px;
  }
  @include _tablet {
      grid-area: 1/1/2/2;
  }
  .logo__img {
      margin-bottom: 35px;
      @include _tablet {
          width: 213.134px;
          height: 60px;
      }
      @include _mobile {
          width: 113.829px;
          height: 32px;
          margin-top: 35px;
      }
  }
  .tel__number {
      display: flex;
      @include flex(row, space-between, flex-start);
      @extend %ph;
      
      @include _tablet {
          @include flex(column, flex-end, flex-start);
          gap: 9px;
      }
  }
  .tel__text-bold {
      width: 360px;
      @include _laptop {
          width:242px;
      }
  }
}
.contacts__email {
  grid-area: 2/1/3/2;
  @include _tablet {
      grid-area: 2/1/3/2;
  }
  .email__link {
      @extend %trb;
      color: $colorbl;
      text-decoration-line: underline;
  }
}
.contacts__address {
  grid-area: 2/2/3/3;
  @include _tablet {
      grid-area: 3/1/4/2;
      width: 300px;
  }
  .address__text {
      @extend %tib;
      font-weight: 600;
  }
}
.questions__form-wrapper {
  width: 680px;
  height: 690px;
  padding: 60px;
  border-radius: 13px;
  margin-left: 40px;
  background-color: $colorbl;
  @extend %placeholder;
  @include _laptop {
      width: 462px;
      height: 691px;
      margin-left: 20px;
  }
  @include _tablet {
      width: 334px;
      height: 651px;
      margin-left: 20px;
      padding: 40px;
  }
  @include _mobile {
      width: 288px;
      height: 606px;
      margin-left: 0px;
      padding: 40px 20px;
  }
}
.questions__form {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-rows: 44px 46px 60px 60px 60px 120px 60px;
  gap: 20px;
  @include _laptop {
      grid-template-rows: 36px 24px 60px 60px 60px 120px 128px;
      width:342px;
      height: 572px;
      gap:12px;
  }
  @include _tablet {
      grid-template-rows: 36px 24px 60px 60px 60px 120px 152px;
      width:254px;
      height: 572px;
  }
  @include _mobile {
      grid-template-rows: 36px 24px 48px 48px 48px 120px 152px;
      width:254px;
      height: 572px;
      gap:9px;
  }
  .questions__smalltitle {
      grid-area: 1/1/2/2;
      @extend %stw;
      @include _laptop {
          width:342px;

      }
      @include _tablet {
          width:254px;
      }
      @include _mobile {
          width: 248px;
      }

  }
  .questions__text {
      grid-area: 2/1/3/2;
      @extend %tiw;
      @include _laptop {
          width:342px;
          margin-top: 4px ;
      }
      @include _tablet {
          width:254px;
      }
      @include _mobile {
          width: 248px;
      }

  }
  .form-control_1 {
      grid-area: 3/1/4/2;
      @extend %inputblock;
      @include _laptop {
          width: 342px;
          height: 60px;
          padding: 18px 26px 18px 32px;
          align-items: center;
      }
      @include _tablet {
          width: 254px;
          height: 60px;
          padding: 18px 18px 18px 32px;
      }
      @include _mobile {
          width: 248px;
          height: 48px;
          padding: 12px 15px 12px 22px;
      }
  }
  .form-control_2 {
      grid-area: 4/1/5/2;
      @extend %inputblock;
      @include _laptop {
          width: 342px;
          height: 60px;
          padding: 18px 26px 18px 32px;
          align-items: center;
      }
      @include _tablet {
          width: 254px;
          height: 60px;
          padding: 18px 18px 18px 32px;
      }
      @include _mobile {
          width: 248px;
          height: 48px;
          padding: 12px 15px 12px 22px;
      }
  }
  .form__phone {
      grid-area: 5/1/6/2;
      display: flex;
      align-items: center;
      @extend %placeholder;
      @extend %inputblock;
      @include _laptop {
          width:342px;
      }
      @include _tablet {
          width: 254px;
      }
      @include _mobile {
          width: 248px;
          height: 48px;
      }
      .form__img {
          height: 20px;
          width: 36px;
      }
      .form-control_3 {
          @extend %inputblock;
          border: transparent;
          width: 342px;
      }
  }
  .form-control_4 {
      grid-area: 6/1/7/2;
      @extend %inputblock;
      height: 120px;
      @include _laptop {
          width: 342px;
      }
      @include _tablet {
          width: 254px;
      }
      @include _mobile {
          width: 248px;
          padding: 12px 15px 12px 22px;
      }
  }
  .form__btn {
      display: flex;
      width: 208px;
      height: 60px;
      padding: 18px 42px;
      @include flex(row, center, center);
      border-radius: 12px;
      border: none;
      background-color: $colorw;
      @include font($font1, 16px, $colorbl, 700);
      line-height: 24px;
      @include _laptop {
          width:342px;
      }
      @include _tablet {
          width: 254px;
          height: 60px;
          padding: 18px 65px;
      }
      @include _mobile {
          width: 248px;
          height: 48px;
          padding: 18px 82px;
      }
      .form__arrow {
          padding-left: 22px;
      }
  }
  .form__item {
      grid-area: 7/1/8/2;
      display: flex;
      @include flex(row, space-between, center);
      @include _laptop {
          @include flex(column, space-between, center);
      }
      @include _tablet {
          @include flex(column, space-between, center);
          width: 254px;
      }
      @include _mobile {
          color: red;
      }
  }
  .form__chbox-wrapper {
      width: 332px;
      gap: 10px;
      display: flex;
      @include flex(row, flex-start, center);
      @include _tablet {
          width: 254px;
      }
  }
  .form__chbox {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      border-color: $colorp;
      background-color: $colorbl;
  }
  .form__agr {
      display: flex;
      @include flex(column, flex-start, center);
  }
  .form__text {
      @extend %rights;
      color: $colorp;
      margin: 0;
  }
  .textlink {
      color: $colorp;
      text-decoration: underline;
  }
}
