@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1920px;
}
@media (max-width: 1024px) {
  body {
    width: 1024px;
  }
}
@media (max-width: 768px) {
  body {
    width: 768px;
  }
}
@media (max-width: 320px) {
  body {
    width: 320px;
  }
}

section {
  padding: 80px 260px;
  border: none;
}
@media (max-width: 1024px) {
  section {
    padding: 60px 40px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 40px;
  }
}
@media (max-width: 320px) {
  section {
    padding: 40px 16px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

header .header__title {
  font-family: "Inter", sans-serif;
  font-size: 68px;
  color: #fff;
  font-weight: 900;
  line-height: 79px;
}
@media (max-width: 768px) {
  header .header__title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    line-height: 56px;
  }
}
@media (max-width: 320px) {
  header .header__title {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    line-height: 40px;
  }
}

.questions__form .questions__smalltitle {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  color: #fff;
  font-weight: 900;
  line-height: 40px;
}
@media (max-width: 1024px) {
  .questions__form .questions__smalltitle {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    line-height: 36px;
  }
}

.contacts__email .email__link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #242a56;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .contacts__email .email__link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #242a56;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (max-width: 320px) {
  .contacts__email .email__link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #242a56;
    font-weight: 400;
    line-height: 26px;
  }
}

.contacts__address .address__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #242a56;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .contacts__address .address__text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #242a56;
    font-weight: 400;
    line-height: 24px;
  }
}

.questions__form .questions__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .questions__form .questions__text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 24px;
  }
}

header .buttons .buttons__language, header .buttons .buttons__connect {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.questions__form .form__text, main .rights {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #8b9bab;
  font-weight: 400;
  line-height: 24px;
}

.main__container .subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #8b9bab;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .main__container .subtitle {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #8b9bab;
    font-weight: 600;
    line-height: 24px;
  }
}

.contacts__tel .tel__number {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  color: #376fff;
  font-weight: 600;
  line-height: 33.8px;
  text-decoration-line: underline;
}
@media (max-width: 1024px) {
  .contacts__tel .tel__number {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #376fff;
    font-weight: 600;
    line-height: 26px;
  }
}

.questions__form .form-control_4, .questions__form .form__phone .form-control_3, .questions__form .form__phone, .questions__form .form-control_2, .questions__form .form-control_1 {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 560px;
  height: 60px;
  padding: 18px 49px 18px 32px;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #c1d3de;
}

.questions__form .form__phone ::-webkit-input-placeholder, .questions__form-wrapper ::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #c1d3de;
  font-weight: 400;
  line-height: 24px;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "clig" off, "liga" off;
}
.questions__form .form__phone :-moz-placeholder, .questions__form-wrapper :-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #c1d3de;
  font-weight: 400;
  line-height: 24px;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "clig" off, "liga" off;
}
.questions__form .form__phone ::-moz-placeholder, .questions__form-wrapper ::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #c1d3de;
  font-weight: 400;
  line-height: 24px;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "clig" off, "liga" off;
}
.questions__form .form__phone :-ms-input-placeholder, .questions__form-wrapper :-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #c1d3de;
  font-weight: 400;
  line-height: 24px;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "clig" off, "liga" off;
}

body {
  max-width: 1920px;
  display: grid;
  grid-template-rows: 496px 1fr 894px;
}
@media (max-width: 1024px) {
  body {
    grid-template-rows: 496px 1fr 855px;
  }
}
@media (max-width: 768px) {
  body {
    grid-template-rows: 340px 1fr 763px;
  }
}
@media (max-width: 320px) {
  body {
    grid-template-rows: 320px 1fr 1368px;
  }
}
body header {
  width: 100%;
  display: grid;
  grid-template-rows: 96px 1fr;
  background-image: url(../../assets/img-contacts/background_header.png);
}
@media (max-width: 1024px) {
  body header {
    grid-template-rows: 80px 1fr;
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  body header {
    max-width: 876px;
  }
}
@media (max-width: 320px) {
  body header {
    grid-template-rows: 60px 1fr;
    max-width: 320px;
  }
}

header .header__top-wrapper {
  background-color: #393a56;
  display: grid;
  grid-template-columns: 201px 756px 586px 377px;
}
@media (max-width: 1024px) {
  header .header__top-wrapper {
    grid-template-columns: 153.83px 1fr 1fr 375px;
    background-color: #fff;
  }
}
@media (max-width: 320px) {
  header .header__top-wrapper {
    grid-template-columns: 129.83px 1fr 1fr 95px;
  }
}
header .header__logo-wrapper {
  padding: 24px 30px 24px 30px;
  grid-area: 1/1/2/2;
}
@media (max-width: 1024px) {
  header .header__logo-wrapper {
    padding: 24px 18px 24px 40px;
  }
}
@media (max-width: 320px) {
  header .header__logo-wrapper {
    padding: 14px 40px 14px 16px;
  }
}
header .header__logo-wrapper .whlogo {
  padding: 24px, 30px;
  width: 170.743px;
  height: 48px;
}
@media (max-width: 1024px) {
  header .header__logo-wrapper .whlogo {
    display: none;
  }
}
header .header__logo-wrapper .dlogo {
  display: none;
}
@media (max-width: 1024px) {
  header .header__logo-wrapper .dlogo {
    display: inline-block;
    width: 113.829px;
    height: 32px;
  }
}
header .header__nav {
  padding: 0;
  grid-area: 1/3/2/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  header .header__nav {
    display: none;
  }
}
header .header__nav .nav__link {
  line-height: 96px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #c1d3de;
  font-weight: 500;
}
header .header__nav .link_active {
  color: #fff;
  border-bottom: 4px solid #fff;
}
header .buttons {
  padding: 24px 30px 24px 60px;
  grid-area: 1/4/2/5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1024px) {
  header .buttons {
    padding: 0px 40px 0px 0px;
  }
}
header .buttons .buttons__connect {
  width: 197px;
  padding: 14px 0px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 12px;
}
@media (max-width: 1024px) {
  header .buttons .buttons__connect {
    color: #376fff;
    border: 1px solid #376fff;
  }
}
@media (max-width: 320px) {
  header .buttons .buttons__connect {
    display: none;
  }
}
header .buttons .buttons__language {
  width: 66px;
  padding: 14px 0px;
  border: 1px solid #c1d3de;
  color: #c1d3de;
  background-color: transparent;
  border-radius: 12px;
}
@media (max-width: 1024px) {
  header .buttons .buttons__language {
    color: #376fff;
  }
}
@media (max-width: 320px) {
  header .buttons .buttons__language {
    display: none;
  }
}
header .burger {
  display: none;
}
@media (max-width: 1024px) {
  header .burger {
    display: block;
  }
}
header .header__title-wrapper {
  width: 440px;
  height: 158px;
  margin-left: 260px;
  margin-top: 121px;
}
@media (max-width: 1024px) {
  header .header__title-wrapper {
    width: 560px;
    height: 79px;
    margin-left: 40px;
    margin-top: 168.5px;
  }
}
@media (max-width: 768px) {
  header .header__title-wrapper {
    width: 560px;
    height: 56px;
    margin-top: 102px;
  }
}
@media (max-width: 320px) {
  header .header__title-wrapper {
    width: 260px;
    height: 80px;
    margin-left: 16px;
    margin-top: 40px;
  }
}
header .header__title {
  width: 100%;
  margin: 0;
}

main {
  grid-area: 3/1/4/2;
  display: grid;
  grid-template: 1fr 104px/1fr 1fr;
  padding: 80px 260px 0px 260px;
  background-image: url(../../assets/img-contacts/bg_main.png);
}
@media (max-width: 1024px) {
  main {
    grid-template: 1fr 104px/462px 462px;
    padding: 60px 40px 0px 40px;
    width: 1024px;
  }
}
@media (max-width: 768px) {
  main {
    grid-template: 1fr 72px/1fr 1fr;
    padding: 40px 40px 0px 40px;
    width: 768px;
    height: 763px;
    overflow-y: auto;
  }
}
@media (max-width: 320px) {
  main {
    height: 1432px;
    width: 320px;
    grid-template: 606px 690px 96px/1fr;
    padding: 40px 16px 0px 16px;
    overflow-y: auto;
    background-image: url(../../assets/img-common/mob-bg-img-footer.png);
  }
}
main .main__container {
  grid-area: 1/1/2/2;
}
@media (max-width: 320px) {
  main .main__container {
    grid-area: 2/1/3/2;
  }
}
main .questions {
  grid-area: 1/2/2/3;
}
@media (max-width: 320px) {
  main .questions {
    grid-area: 1/1/2/2;
  }
}
main .rights {
  grid-area: 2/1/3/3;
  width: 311px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  main .rights {
    height: 72px;
  }
}
@media (max-width: 320px) {
  main .rights {
    grid-area: 3/1/4/2;
    width: 288px;
    height: 96px;
  }
}

.main__container {
  display: grid;
  grid-template: 1fr 432px/680px;
}
@media (max-width: 1024px) {
  .main__container {
    grid-template: 1fr 425px/462px;
  }
}
@media (max-width: 768px) {
  .main__container {
    grid-template: 1fr 305px/334px;
  }
}
@media (max-width: 320px) {
  .main__container {
    color: 1fr 288px/288px;
  }
}
.main__container .contacts {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template: 78px 1fr/1fr 1fr;
  gap: 40px;
}
@media (max-width: 1024px) {
  .main__container .contacts {
    width: 462px;
    grid-template: 70px 1fr/1fr 1fr;
  }
}
@media (max-width: 768px) {
  .main__container .contacts {
    grid-template: 95px 58px 50px/100%;
    width: 334px;
  }
}
@media (max-width: 320px) {
  .main__container .contacts {
    margin-top: 40px;
    grid-template: 75px 35px 5px/100%;
    width: 288px;
  }
}
.main__container .map {
  grid-area: 2/1/3/2;
}
.main__container .map .map__item {
  height: 320px;
  width: 680px;
  border-radius: 12px;
}
@media (max-width: 1024px) {
  .main__container .map .map__item {
    width: 462px;
    height: 425px;
  }
}
@media (max-width: 768px) {
  .main__container .map .map__item {
    width: 334px;
    height: 305px;
  }
}
@media (max-width: 320px) {
  .main__container .map .map__item {
    width: 288px;
    height: 288px;
    margin-bottom: 96px;
  }
}
.contacts__tel {
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 1024px) {
  .contacts__tel {
    width: 462px;
  }
}
@media (max-width: 768px) {
  .contacts__tel {
    grid-area: 1/1/2/2;
  }
}
.contacts__tel .logo__img {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .contacts__tel .logo__img {
    width: 213.134px;
    height: 60px;
  }
}
@media (max-width: 320px) {
  .contacts__tel .logo__img {
    width: 113.829px;
    height: 32px;
    margin-top: 35px;
  }
}
.contacts__tel .tel__number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .contacts__tel .tel__number {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 9px;
  }
}
.contacts__tel .tel__text-bold {
  width: 360px;
}
@media (max-width: 1024px) {
  .contacts__tel .tel__text-bold {
    width: 242px;
  }
}

.contacts__email {
  grid-area: 2/1/3/2;
}
@media (max-width: 768px) {
  .contacts__email {
    grid-area: 2/1/3/2;
  }
}
.contacts__email .email__link {
  color: #376fff;
  text-decoration-line: underline;
}

.contacts__address {
  grid-area: 2/2/3/3;
}
@media (max-width: 768px) {
  .contacts__address {
    grid-area: 3/1/4/2;
    width: 300px;
  }
}
.contacts__address .address__text {
  font-weight: 600;
}

.questions__form-wrapper {
  width: 680px;
  height: 690px;
  padding: 60px;
  border-radius: 13px;
  margin-left: 40px;
  background-color: #376fff;
}
@media (max-width: 1024px) {
  .questions__form-wrapper {
    width: 462px;
    height: 691px;
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .questions__form-wrapper {
    width: 334px;
    height: 651px;
    margin-left: 20px;
    padding: 40px;
  }
}
@media (max-width: 320px) {
  .questions__form-wrapper {
    width: 288px;
    height: 606px;
    margin-left: 0px;
    padding: 40px 20px;
  }
}

.questions__form {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-rows: 44px 46px 60px 60px 60px 120px 60px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .questions__form {
    grid-template-rows: 36px 24px 60px 60px 60px 120px 128px;
    width: 342px;
    height: 572px;
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .questions__form {
    grid-template-rows: 36px 24px 60px 60px 60px 120px 152px;
    width: 254px;
    height: 572px;
  }
}
@media (max-width: 320px) {
  .questions__form {
    grid-template-rows: 36px 24px 48px 48px 48px 120px 152px;
    width: 254px;
    height: 572px;
    gap: 9px;
  }
}
.questions__form .questions__smalltitle {
  grid-area: 1/1/2/2;
}
@media (max-width: 1024px) {
  .questions__form .questions__smalltitle {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .questions__form .questions__smalltitle {
    width: 254px;
  }
}
@media (max-width: 320px) {
  .questions__form .questions__smalltitle {
    width: 248px;
  }
}
.questions__form .questions__text {
  grid-area: 2/1/3/2;
}
@media (max-width: 1024px) {
  .questions__form .questions__text {
    width: 342px;
    margin-top: 4px;
  }
}
@media (max-width: 768px) {
  .questions__form .questions__text {
    width: 254px;
  }
}
@media (max-width: 320px) {
  .questions__form .questions__text {
    width: 248px;
  }
}
.questions__form .form-control_1 {
  grid-area: 3/1/4/2;
}
@media (max-width: 1024px) {
  .questions__form .form-control_1 {
    width: 342px;
    height: 60px;
    padding: 18px 26px 18px 32px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .questions__form .form-control_1 {
    width: 254px;
    height: 60px;
    padding: 18px 18px 18px 32px;
  }
}
@media (max-width: 320px) {
  .questions__form .form-control_1 {
    width: 248px;
    height: 48px;
    padding: 12px 15px 12px 22px;
  }
}
.questions__form .form-control_2 {
  grid-area: 4/1/5/2;
}
@media (max-width: 1024px) {
  .questions__form .form-control_2 {
    width: 342px;
    height: 60px;
    padding: 18px 26px 18px 32px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .questions__form .form-control_2 {
    width: 254px;
    height: 60px;
    padding: 18px 18px 18px 32px;
  }
}
@media (max-width: 320px) {
  .questions__form .form-control_2 {
    width: 248px;
    height: 48px;
    padding: 12px 15px 12px 22px;
  }
}
.questions__form .form__phone {
  grid-area: 5/1/6/2;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .questions__form .form__phone {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .questions__form .form__phone {
    width: 254px;
  }
}
@media (max-width: 320px) {
  .questions__form .form__phone {
    width: 248px;
    height: 48px;
  }
}
.questions__form .form__phone .form__img {
  height: 20px;
  width: 36px;
}
.questions__form .form__phone .form-control_3 {
  border: transparent;
  width: 342px;
}
.questions__form .form-control_4 {
  grid-area: 6/1/7/2;
  height: 120px;
}
@media (max-width: 1024px) {
  .questions__form .form-control_4 {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .questions__form .form-control_4 {
    width: 254px;
  }
}
@media (max-width: 320px) {
  .questions__form .form-control_4 {
    width: 248px;
    padding: 12px 15px 12px 22px;
  }
}
.questions__form .form__btn {
  display: flex;
  width: 208px;
  height: 60px;
  padding: 18px 42px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #376fff;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 1024px) {
  .questions__form .form__btn {
    width: 342px;
  }
}
@media (max-width: 768px) {
  .questions__form .form__btn {
    width: 254px;
    height: 60px;
    padding: 18px 65px;
  }
}
@media (max-width: 320px) {
  .questions__form .form__btn {
    width: 248px;
    height: 48px;
    padding: 18px 82px;
  }
}
.questions__form .form__btn .form__arrow {
  padding-left: 22px;
}
.questions__form .form__item {
  grid-area: 7/1/8/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .questions__form .form__item {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .questions__form .form__item {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 254px;
  }
}
@media (max-width: 320px) {
  .questions__form .form__item {
    color: red;
  }
}
.questions__form .form__chbox-wrapper {
  width: 332px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  .questions__form .form__chbox-wrapper {
    width: 254px;
  }
}
.questions__form .form__chbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-color: #c1d3de;
  background-color: #376fff;
}
.questions__form .form__agr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.questions__form .form__text {
  color: #c1d3de;
  margin: 0;
}
.questions__form .textlink {
  color: #c1d3de;
  text-decoration: underline;
}/*# sourceMappingURL=contacts.css.map */